# create .env file and Copy this file to .env and fill in your actual values.
# DO NOT commit your actual .env file to Git.

# Server Configuration
PORT=3000
NODE_ENV=development

# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_DB_URL=https://your-project-id-default-rtdb.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=./config/serviceAccountKey.json

# CORS Configuration
CORS_ORIGIN=*